body {
    background-color: grey;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 0px;
}

ul {
    list-style-type: none;
}

#navbar {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
}

#navbar ul {
    margin: 0px;
    padding: 0px;
}

.navit {
    display: inline;
}

.navit a {
    color: white;
    text-decoration: none;
    margin-left: 170px;
    margin-right: 170px;
}

#mainheading {
   color: black;
   font-size: 80px;
}

img {
    border: 10px solid white;
    border-radius: 50%;
}

#intro {
    font-weight: bold;
    font-size: 40px;
}

h3,
h2 {
    color: black;
}

.section {
    margin: 0 auto;
}

#skills h2 {
    margin-right: 20px;
}

#skills ul {
    margin-right: 50px;
}